/**
 * -----------------------------------------------------------------------
 * clearfix
 * -----------------------------------------------------------------------
 *
 * Mixin to drop micro clearfix into a selector. Further reading:
 * http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
 *
 * .usage {
 *   @include clearfix();
 * }
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */

@mixin clearfix() {

    clear: both;

    &:after {
        content: '' !important;
        display: block !important;
        clear: both !important;
    }

}
