/**
 * -----------------------------------------------------------------------
 * fluid-font-size
 * -----------------------------------------------------------------------
 *
 * Creates a fluid fontsize that adapts its size from breakpoint to breakpoint
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */


@mixin fluid-font-size($min-bp, $max-bp, $min-font-size, $max-font-size, $line-height: auto, $important: false) {
    $min-vw: mq-get-breakpoint-width($min-bp);
    $max-vw: mq-get-breakpoint-width($max-bp);
    $unit1: unit($min-vw);
    $unit2: unit($max-vw);
    $unit3: unit($min-font-size);
    $unit4: unit($max-font-size);

    $min-font-size-rem: ($min-font-size / $global-font-size) * 1rem;

    @if $unit1 == $unit2 and $unit1 == $unit3 and $unit1 == $unit4 {
        @include font-size($min-font-size, $line-height, $important);
        @include mq($from: $min-bp, $until: $max-bp) {
            @include font-size(calc(#{$min-font-size-rem} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})), $line-height, $important, $min-font-size);
        }
        @include mq($from: $max-bp) {
            @include font-size($max-font-size, $line-height, $important);
        }
    }
}
