/**
 * -----------------------------------------------------------------------
 * font-face
 * -----------------------------------------------------------------------
 *
 * mixin to include a local font file correctly
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */


@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (
        eot: '?',
        svg: '#' + str-replace($name, ' ', '_')
    );

    $formats: (
        otf: 'opentype',
        ttf: 'truetype'
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma); // stylelint-disable
    }

    @font-face {
        font-family: quote($name);
        font-weight: $weight;
        font-style: $style;
        src: $src;
    }
}
