/**
 * -----------------------------------------------------------------------
 * z-index
 * -----------------------------------------------------------------------
 *
 * Define all your z-indexes in the settings and then use them
 * with @include z-index(example)
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */

@mixin z-index($index, $fallback: 1) {
    @if map-has-key($z-indexes, $index) {
        z-index: map-get($z-indexes, $index);
    } @else {
        z-index: $fallback;
    }
}
