/**
 * -----------------------------------------------------------------------
 * lists
 * -----------------------------------------------------------------------
 *
 *
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */


button {
    padding: 0;
    border: 0;
    background: none;
    appearance: none;
    cursor: pointer;
    font-family: inherit;
}
