/**
 * -----------------------------------------------------------------------
 * input
 * -----------------------------------------------------------------------
 *
 *
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */

input[type='email'] {
    text-transform: lowercase;
}
