/* ==========================================================================
   EXAMPLE MODULE
   ========================================================================== */

$module-name: 'templateModule';

@include settings((
    min-width: 20px,
));

.templateModule {
    margin: 0;

    @include mq($until: phone) {}
    @include mq($from: tablet) {}
    @include mq($from: tablet, $until: desktop) {}
    @include mq($from: desktop) {}

    p { margin: 0; }
}


.templateModule-isHidden {

}


.templateModule-component {

}
