/* ========================================================================
   SUSY GRID SETTINGS
   ======================================================================== */

/**
 * Settings for the Y7K Implementation of susy grid.
 */

// TESTING ONLY ------------------------------
// * {
//    background-color: rgba(gray,0.2) !important;
//    outline: 1px solid rgba(red, 0.4) !important;
// }
// --------------------------------------------




$susy: (
    columns: 12, // The number of columns in your grid
    gutters: 0.5, // The size of a gutter in relation to a single column
    gutter-position: after,
    global-box-sizing: border-box
    //debug: (
    //    image: show,
    //    color: rgba(#66f, .02),
    //    output: background
    //)
);
