/* ========================================================================
   SPACINGS
   ======================================================================== */

/**
* Use this generated spacing classes for responsive margins and paddings.
* See "utilities/spacing"
*/

$space-small: (
        phone: 10px,
        tablet: 20px,
        desktop: 20px,
);

$space-medium: (
        phone: 20px,
        tablet: 40px,
        desktop: 40px,
);

$generate-spacing-classes: (
        isSmall: $space-small,
        isMedium: $space-medium,
);
