/**
 * -----------------------------------------------------------------------
 * spacings
 * -----------------------------------------------------------------------
 *
 * Use this spacing settings for the @include spacing[s] mixin
 *
 * @link      https://y7k.com
 * @licence   MIT
 * @version   1.0.0
 */


$space-s: (
    phone: 10px,
    phablet: 10px,
    tablet: 20px,
    desktop: 20px,
);

$space-m: (
    phone: 20px,
    phablet: 20px,
    tablet: 40px,
    desktop: 40px,
);

$space-l: (
    phone: 40px,
    phablet: 40px,
    tablet: 80px,
    desktop: 100px,
);

$spacings: (
    s: $space-s,
    m: $space-m,
    l: $space-l,
);
